@model IEnumerable<WebLibrary.ViewModels.OrderBookVM>
@using WebLibrary.ViewModels
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<script>
    $(document).ready(function () {
        $('.record').on('click', function (e) { // _OrderPart.View\..<tr class="record..>
            e.stopPropagation();
            let id = $(this).attr('id');
            $.ajax({
                type: "GET",
                datatype: "json",
                url: "/OrderBook/GetTop5/",  //1
                data: {
                    userId: id
                },
                success: function (data) {
                    var res = JSON.parse(data)
                    console.log(res)
                   
                    $('#divPartial').append(function () {
                        var caption = '<h4>Книги пользователя</h4>';
                        var table = document.createElement('table');
                        $(table).prepend(caption)
                        $(table).addClass('table table-striped')
                        var trHead = '<tr><th>Title</th><th>Author</th><th>Genre</th><th>Price</th><th>Pages</th></tr>'
                        $(table).append(trHead);
                        $(res).each(function (indx, item) {    //может быть несколько книг!
                            var trCurr = '<tr><td>' + item.Title + '</td><td>' + item.Authors.LastName + '</td><td>' + item.Genres.Name + '</td><td>' +
                                + item.Price + '</td><td>' + item.Pages + '</td></tr>';
                            $(table).append(trCurr)
                        })
                        return table;
                    });
                },
                error: function (xhr, status) {

                    console.log(status);
                    alert(xhr.statusText)
                }
            });
        });
        //--------------------Create-------------------------------
        $('#link').on('click', function (event) {
            event.preventDefault();
            console.log("open modal");
            $('input[type=submit]').attr("disabled", false)
            $('#exampleModalScrollable').modal('show');
        });
        //------------исправление. double-get CreatePartialView\Ajax.BeginForm -> sumbit----------------------
        var myForm = document.forms[0];
        var mydata;
        $('input[type=submit]').on('click', function (e) {
            $(this).attr('disabled', 'disabled');
            $('#exampleModalScrollable').modal('hide');
            mydata = $(myForm).serialize(); 
            $(myForm).triggerHandler('submit');
        })
        $(myForm).on('submit', function (e) {
            console.log(mydata)
            $.ajax({
                type: 'GET',
                //dataType: 'json',
                url: "/OrderBook/Create/",
                data: mydata,
                success: function (data) {
                    //console.log(data) //PartialView = html-document!
                    $('#AjaxOrderTable').html("").append(data)  
                },
                error: function (status, errorMsg) {
                    alert("Error!");
                    console.log("Статус: " + status + " Ошибка: " + errorMsg)
                }
            })
        });

    });
</script>
<h2>Заказы книг</h2>
@*id = "link"  - в обрабочике ajax (c.47)*@
<p>
    @Html.ActionLink("Create new order", "Create", null, new { id = "link" })
</p>

<div class="modal fade" id="exampleModalScrollable" tabindex="-1" role="dialog" aria-labelledby="exampleModalScrollableTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-scrollable" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalScrollableTitle">Create order</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body" id="modal-body">
                @Html.Partial("Partial/_CreatePartialView", new OrderBookVM())
            </div>
        </div>
    </div>
</div>

<div id="AjaxOrderTable">
    @Html.Partial("Partial/_OrderPartialView", Model)
</div>

<div id="divPartial"></div>

